  /* https://css-tricks.com/glitch-effect-text-images-svg/ */
  /* https://css-tricks.com/license/ */

  .glitch {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    line-height: 0.65;
  }
  
  @keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        $topWithPercent: $top * 1%;
        $bottomWithPercent: $bottom * 1%;
        clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
      }
    }
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 5px #326295;
    top: 0;
    overflow: hidden;
    animation: noise-anim 10s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        $topWithPercent: $top * 1%;
        $bottomWithPercent: $bottom * 1%;
        clip-path: inset(#{$topWithPercent} 0 #{$bottomWithPercent} 0);
      }
    }
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 5px #c04c36;
    top: 0;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }
  
  